<h1>Author: {{author.name}}</h1>
<p>{{author.lifespan_formatted}}</p>

<div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    <dl>
        {{#each author_books}}
            <dt>
                <a href={{this.url}}>{{make_safe this.title}}</a>
            </dt>
            <dd>{{make_safe this.summary}}</dd>
        {{else}}
            <p>This author has no books.</p>
        {{/each}}
    </dl>
</div>
<hr>
<p>
    <a href={{concatenate_strings author.url '/delete'}}>Delete Author</a>
</p>
<p>
    <a href={{concatenate_strings author.url '/update'}}>Update Author</a>
</p>