<h1>{{title}}</h1>

<ul>
    {{#if book_list}}
        {{sort_books book_list}}
        {{#each book_list}}
            <li>
                <a href={{this.url}}>{{make_safe this.title}}</a> {{this.author.name}}
            </li>
        {{/each}}
    {{else}}
        <li>There are no books.</li>
    {{/if}}
</ul>