<h1>Title: {{make_safe book.title}}</h1>

<p><strong>Author:</strong>
    <a href={{book.author.url}}>{{book.author.name}}</a>
</p>
<p><strong>Summary:</strong> {{book.summary}}</p>
<p><strong>ISBN:</strong> {{book.isbn}}</p>
<p><strong>Genre:</strong>&nbsp;
    {{#each book.genre}}
        <a href={{this.url}}>{{this.name}}</a>
        {{#unless @last}},{{/unless}}
    {{/each}}
</p>
<div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>
    {{#each book_instances}}
        <hr>
        {{book_status this true}}
        <p><strong>Imprint: </strong> {{this.imprint}}</p>
        {{overdue this}}
        <p><strong>Id:</strong>&nbsp;
            <a href={{this.url}}>{{this._id}}</a>
        </p>
    {{else}}
        <p>There are no copies of this book in the library.</p>
    {{/each}}
</div>
<hr>
<p>
    <a href={{concatenate_strings book.url '/delete'}}>Delete Book</a>
</p>
<p>
    <a href={{concatenate_strings book.url '/update'}}>Update Book</a>
</p>